.roadIndicator {
    // border: 2px solid rgba(2, 77, 134, 1);
    // border-radius: 8px;
    overflow: hidden;
    transition: 0.5s left linear;
    position: fixed;
    top: 120px;
    left: 40px;
    width: 800px;
    z-index: 999;
    background: rgba(3, 16, 51, 0.7);
    .top-margin {
        margin-top: 20px;
    }
    .image-wrapper {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        .image-svg {
            width: 80px;
            height: 20px;
        }
    }

    .current-road {
        border: 1px solid rgba(36, 78, 128, 1);
        box-shadow: rgba(68, 113, 240, 0.5) 2px 2px 7px inset, rgba(68, 113, 240, 0.5) -2px -2px 7px inset;
        height: 32px;
        line-height: 32px;
        margin: 10px auto;
        display: flex;
        // justify-content: space-evenly;
        padding: 0 16px;
        font-family: PingFangSC-Regular;
        color: #feab14;
    }

    .show-part {
        max-height: 600px;
        transition: 0.5s max-height linear;
        overflow: hidden;
    }

    .hide-part {
        transition: 0.5s max-height linear;
        max-height: 0px;
        overflow: hidden;
    }
}

.left-hide {
    left: -800px;
}
