.app-header{
    width: 100%;
    height: 100%;
    span{
        font-size: 3rem;
        left: 1%;
        position: absolute;
	    animation:myfirst 10s linear infinite
    }
    @keyframes myfirst
{
    0%   {left:1%;color:red }
    25%  {color:green}
    50% {left:90%;color:yellow}
    75%  {color:blue}
	100% {left:1%;color:pink}
}
}