.main-content{
    width: 100%;
    height: 100%;
    .main-header{
        background: #f0f2f5;
        padding:0;
    }
}
#maps{
    height: 100%;
    width:100%
}
.button-map{
position: fixed;
z-index: 9999;
left:205px;
bottom:10px;
}