.roadCrossingMap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 1;

    .leaflet-bottom.leaflet-right {
       display:none
      }
    // background-color: #003448;
}